DISCORD_TOKEN=your_bot_token_here
PREFIX=sk
WELCOME_CHANNEL_ID=
PUBLIC_CHAT_CHANNEL_ID=
WELCOME_ACCENT_COLOR=#111111
RULES_CHANNEL_ID=
INTRO_CHANNEL_ID=
TICKET_CATEGORY_ID=
PARTNERSHIP_TICKET_CATEGORY_ID=
TICKET_LOG_CHANNEL_ID=
TICKET_SUPPORT_ROLE_ID=
TICKET_PANEL_CHANNEL_ID=
PARTNERSHIP_TICKET_PANEL_CHANNEL_ID=
TICKET_COMMAND_LIST_CHANNEL_ID=
PARTNERSHIP_TICKET_ENABLED=true
TICKET_PANEL_ACCENT_COLOR=#111111
CONFESSION_CHANNEL_ID=
CONFESSION_LOG_CHANNEL_ID=
CONFESSION_PANEL_CHANNEL_ID=
CONFESSION_ACCENT_COLOR=#111111
COUNTING_CHANNEL_ID=
COUNTING_START_NUMBER=1
STREAK_CHANNEL_ID=
STREAK_BOT_CHANNEL_ID=
STREAK_NOTIFICATION_CHANNEL_ID=
STREAK_REWARD_ROLE_ID=1483797982720561292
STREAK_TOP_CHANNEL_ID=
STREAK_TEMP_RESPONSE_SECONDS=90
STREAK_TIMEZONE=Asia/Jakarta
LEADERBOARD_CHANNEL_ID=
CHAT_TRACKER_CHANNEL_ID=1482505425973936180
LEADERBOARD_TEMP_RESPONSE_SECONDS=90
TEMP_VOICE_CREATOR_CHANNEL_ID=
TEMP_VOICE_PANEL_CHANNEL_ID=
TEMP_VOICE_CATEGORY_ID=
TEMP_VOICE_TEMP_RESPONSE_SECONDS=90
NAME_REQUEST_PANEL_CHANNEL_ID=
NAME_REQUEST_REVIEW_CHANNEL_ID=
NAME_REQUEST_LOG_CHANNEL_ID=
NAME_REQUEST_PROTECTED_ROLE_IDS=
NAME_REQUEST_ACCENT_COLOR=#111111
